/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

body{
  background-color: white;
}

ul {

  margin-left:auto;
  margin-right:auto;
  display:block;

}

ul li {
  cursor: pointer; /*Pointer cursor on hover*/
  position: relative;


  font-size: 18px;

  padding: 12px 8px 12px 40px;

  margin-top: 10px;
  border-style: solid;

  list-style-type: none;
}

ul li:hover {
  border-color: red;
  color: red;
}

ul li.list_title {
  font-size: 40px;
  background: #ffffff;
  list-style-type: none;

  text-align: center;
}

h2 {
  font-size: 40px;
  background: #ffffff;
  list-style-type: none;

  text-align: center;
}

ul li.checked {
border-color: red;
  text-decoration: line-through;
}
